.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100lvh;
}


.card-modal-login {
    padding: 30px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.7);

    border-radius: 16px;
    width: 400px;
    max-width: 80%;
    text-align: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.logo img {
    width: 150px;
    max-width: 350px;
    object-fit: contain;
    object-position: center;
}