:root {
  /* Cores */
  --color-primary: #1d72db;
  --color-bg: #f5f6f8;
  --color-surface: #ffffff;
  --color-text: #1a1a1a;
  --color-muted: #6b7280;
  --color-success: #16a34a;
  --color-danger: #dc2626;

  /* Cores Botões */
  --btn-login--bg: #C7A323;
  --btn-login-text: #6d3722;

  --btn-login-bg-hover: #6d3722;
  --btn-login-text-hover: #ffffff;

  --btn-bg: #f5f1e4;
  --btn-text: #a58614;

  --btn-bg-hover: #a58614;
  --btn-text-hover: #f5f1e4;


  /* Tipografia */
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 16px;
  font-weight: 700;

  /* Espaçamento */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;

  /* Layout */
  --radius: 12px;
  --s: 82px;

  /* control the background*/
  --c1: #cbccc2;
  --c2: #f6f6f6;
  --c3: #dbdbd7;

  --_g: var(--c3) 0 120deg, #0000 0;

  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =============================
ESTILOS GERAIS
============================= */

body {
  margin: 0;
  background:
    conic-gradient(from -60deg at 50% calc(100%/3), var(--_g)),
    conic-gradient(from 120deg at 50% calc(200%/3), var(--_g)),
    conic-gradient(from 60deg at calc(200%/3), var(--c3) 60deg, var(--c2) 0 120deg, #0000 0),
    conic-gradient(from 180deg at calc(100%/3), var(--c1) 60deg, var(--_g)),
    linear-gradient(90deg, var(--c1) calc(100%/6), var(--c2) 0 50%,
      var(--c1) 0 calc(500%/6), var(--c2) 0);
  background-size: calc(1.732*var(--s)) var(--s);

  color: var(--color-text);
}

/* =============================
   MODAIS
   ============================= */
.card-modal-login {
  padding: 30px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.7);

  border-radius: 16px;
  width: 400px;
  max-width: 80%;
  text-align: center;
}

/* Overlay do Modal */
.card-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

/* Card do Modal */
.card-modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
  box-sizing: border-box;
  transform: translate(-50%, -40%);
  position: relative;
  top: 50%;
  left: 50%;
}

/* Mensagem de erro no Modal */
#erro {
  margin-top: 15px;
  color: #dc3545;
  font-size: 14px;
  display: none;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

/* =============================
   ESTILOS PARA CHECKBOXES
   ============================= */

.checkbox-list {
  margin-top: 10px;
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  max-height: 300px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background: #fafafa;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.checkbox-item:hover {
  background: #f0f6ff;
  border-color: #8bb3ff;
  box-shadow: 0 0 4px rgba(0, 80, 255, 0.2);
}

.checkbox-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #1d72db;
  /* azul moderno */
}

.checkbox-item label {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* duas colunas */
  gap: 8px 16px;
  /* espaçamento entre itens */
  max-height: 300px;
  /* altura máxima */
  overflow-y: auto;
  /* scroll vertical */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* =============================
   SELECT (DROP-DOWN)
   ============================= */

select {
  width: 100%;
  padding: 12px 14px;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#evento_id:hover {
  border-color: #8bb3ff;
  box-shadow: 0 0 4px rgba(0, 80, 255, 0.25);
}

#evento_id:focus {
  outline: none;
  border-color: #1d72db;
  box-shadow: 0 0 6px rgba(0, 80, 255, 0.35);
}

#evento_id option {
  padding: 10px;
  font-size: 15px;
}

/* =============================
   TABLE (TABELAS)
   ============================= */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

/* =============================
   TOAST (MENSAGENS DE ALERTA)
   ============================= */

.toast {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  background: #5A0000;
  color: #fff;
  padding: 12px 16px;
  border-radius: 12px;
  z-index: 1001;
}

/* =============================
   PIX (IMAGEM E STATUS)
   ============================= */

.pix-container {
  max-width: 420px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.pix-img {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.status {
  margin-top: 15px;
  font-size: 16px;
}

.qr-code {
  width: 100%;
  max-width: 200px;
  margin: 20px 0;
}

.copy-btn {
  background-color: #00b94f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.copy-btn:hover {
  background-color: #008e3d;
}

.copy-btn:active {
  background-color: #007a2a;
}

.info-text {
  font-size: 14px;
  color: #333;
}

/* =============================
   MODAL
   ============================= */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  width: 420px;
  height: 150px;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}



.step {
  display: none;
}

.step.active {
  display: block;
}




/* =============================
   NAVBAR
   ============================= */
/* =============================
   TOPBAR ELEGANTE
   ============================= */

#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #8f5555;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: rgb(148, 22, 0);
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #0c0909;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}



#menu {
  position: absolute;
  width: 200px;
  margin: 0px 0px 0px -120px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -180%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
}



#menuToggle input:checked~ul {
  transform: none;
}