/* Loader global */

#global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(109, 107, 80, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none; /* inicial escondido */
}

/* spinner */
.loader-spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #b19a17;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
