/* Loader global */

#global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(109, 107, 80, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none; /* inicial escondido */
}

/* spinner */
.loader-spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #b19a17;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}




/* Overlay tela inteira */
#loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* opcional */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Imagem das alianças */
.loader-aliancas {
  width: 120px;
  height: auto;

  animation: glowLoop 2.2s ease-in-out infinite;
}

/* Animação de sombra pulsante */
@keyframes glowLoop {
  0% {
    filter: drop-shadow(0 0 0 rgba(255, 215, 0, 0));
    transform: scale(1);
  }

  50% {
    filter:
      drop-shadow(0 0 6px rgba(255, 215, 0, 0.6))
      drop-shadow(0 0 14px rgba(255, 200, 0, 0.4));
    transform: scale(1.02);
  }


  100% {
    filter: drop-shadow(0 0 0 rgba(255, 215, 0, 0));
    transform: scale(1);
  }
}
