nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 90px;
  box-shadow: #cbccc2 0px 4px 6px -1px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li:first-child {
  margin-right: auto;
}

.logotipo img {
  width: 140px;
  margin: 20px;
}

.sidebar {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  width: 280px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: #cbccc2 0px 4px 6px -1px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;
}

.nav-btn {
  position: relative;
  color: #444;
  background: none;
  border: none;
  padding: 10px 14px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.nav-btn.active {
  color: var(--color-bg);
  background: var(--btn-login--bg);
  font-weight: 600;
}

@media (max-width: 800px) {
  .hideMobile {
    display: none;
  }

  .nav-btn {
    width: 280px;
    background-color: var(--color-bg);
  }

  .nav-btn.active {
    background: var(--btn-login--bg);
    color: #fff;
    padding: 14px;
  }

  .sidebar .fechar {
    flex-direction: row;
    width: 100%;
    position: relative;
    text-align: right;
  }

}

@media (min-width: 800px) {
  .hideDesktop {
    display: none;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: #fff;
  flex-direction: column;
  text-align: center;
}

.content p {
  max-width: 400px;
}