/* Loader global */
#global-loader {
  position: absolute;
  inset: 0;
  background: rgba(109, 107, 80, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* Container central */
.spinner-wrapper {
  position: relative;
  width: 90px;
  height: 90px;
}

/* Círculo que gira */
.spinner-circle {
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  border-top-color: #cfb311;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

/* Imagem fixa no centro */
.loader-aliancas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  transform: translate(-50%, -50%);
  animation: glowLoop 2.2s ease-in-out infinite;
}

/* Rotação do círculo */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Glow da imagem */
@keyframes glowLoop {
  0% {
    filter: drop-shadow(0 0 0 rgba(255, 215, 0, 0));
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    filter:
      drop-shadow(0 0 6px rgba(255, 215, 0, 0.6))
      drop-shadow(0 0 14px rgba(255, 200, 0, 0.4));
    transform: translate(-50%, -50%) scale(1.05);
  }

  100% {
    filter: drop-shadow(0 0 0 rgba(255, 215, 0, 0));
    transform: translate(-50%, -50%) scale(1);
  }
}
